* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
html, body {
    height: auto;
    max-width: 100vw;
    scroll-behavior: smooth;
    color: white;
}
a {
    color: white;
}
.hr1 {
    width: 100%;
    height: 0.3vh;
    background-color: white;
}
img {
    max-width: 100%;
}
.display-none {
    display: none;
}
input:focus {
    outline: none;
}
/* Transições e animações */
.fade-in {
    opacity: 0;
    transform: translateY(1.852vh);
    transition: opacity 2.5s ease-in, transform 1s ease-out;
}
.fade-in.visible {
    opacity: 1; 
    transform: translateY(0); 
}
@keyframes scale1 {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
@keyframes scale2 {
    0% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.animationScale1 {
    animation: scale1 0.5s ease-in-out 1 forwards;
}
.animationScale2 {
    animation: scale2 0.5s ease-in-out 1 forwards;
}
@keyframes fade-in-out {
    0% {opacity: 0;}
    80% {opacity: 0.8;}    
    100% {opacity: 1;}
}
@keyframes translateMenu {
    0% {transform: translateX(3vw);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes toRight {
    0% {transform: translateX(0);}
    100% {transform: translateX(50vw);}
}
@keyframes toLeft {
    0% {transform: translateX(0);}
    100% {transform: translateX(-50vw);}
}
.animation-toRight {
    animation: toRight 0.6s ease-in 1 forwards;
}
.animation-toLeft {
    animation: toLeft 0.6s ease-in 1 forwards;
}
 #registerForm {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
#loginForm h1, #registerForm h1 {
    font-size: 3vw;
}
#loginForm button, #registerForm button {
    width: 70.5%;
}
/* Transições e animações */
/* Páginas de conteúdo */
.div-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    z-index: 10;
    overflow-y: scroll;
}
.body-content {
    animation: fade-in-out 3.5s ease-in-out 1 forwards;
}
.body-content:before {
    content: '';
    position: fixed;
    background: no-repeat center/cover;
    width: 100%;
    height: 100%;
}
.body-content::after {
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}
.grid-div-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'header header header'
    'content1 content2 content3';
    width: 40vw;
    height: 70vh;
    position: absolute;
    margin-left: 2vw;
}
.header-grid-div-content {
    grid-area: header;
    background: no-repeat center/cover;
}
.container-grid-div-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: Arial;
    font-size: 1.2vw;
    backdrop-filter: blur(50px);
    padding: 0.5vw;
    color: white;
}
.content1-grid-div-content {
    grid-area: content1;
}
.content2-grid-div-content {
    grid-area: content2;
}
.content3-grid-div-content {
    grid-area: content3;
}
.main-text-html {
    width: 50vw;
    height: 70vh;
    position: absolute;
    right: 2vw;
    padding: 0 2vw;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
}
.text-html {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
}
.reference-html-pages {
    width: 100%;
    height: 30%;
    background: linear-gradient(to right, gray 10%, #080808);
    border-radius: 2vw;
    font-size: 1.8vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;    
    padding: 0 5% 0 17%;
    align-items: flex-start;
}
.reference-html-pages p, span {
    z-index: 10;
    text-decoration: none;
}
.class1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 2vw;
}
.class1 form {
    width: 46%;
    height: 85%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2vw;
}
.class1 form input {
    width: 70%;
    height: 10%;
    border: none;
    border-bottom: 0.5vh solid #e5e5e5;
    background-color: transparent;
    padding: 1vw;
    font-size: 1.5vw;
    color: white;
}
.class1 form input::placeholder {
    color: #c3c3c3;
}
.class1 form button {
    width: 15%;
    height: 8%;
    border-radius: 5vw;
    font-size: 1.5vw;
} 
.class1 form h3 {
    font-size: 1.5vw;
}
.class1 h3 span {
    cursor: pointer;
}
.class2 {
    width: 54%;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 5%;
    background: url('../img/dstar2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class2 p {
    z-index: 10;
    font-size: 5vw;
}
.class2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
}
/* Páginas de conteúdo */
/* Barra de navegação superior */ 
.swlogo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    z-index: 5;
    font-size: 2vw;
    flex-wrap: wrap;
    color: white;
    margin-right: 0.8vw; 
}
.swlogo:hover {
    color: yellow;
    transition: color 0.5s ease-in-out;
    -webkit-text-stroke: 0.05vw white;
}
.container-logo {
    width: auto;
    height: auto;
    z-index: 5;
    position: absolute;
    top: 0.8vh;
    left: 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.swlogo p {
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 0;
}
.hr-bck {
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
    right: 2.5vw;
    top: 0;
    padding-top: 1vh; 
    z-index: 5;
    font-size: 2vw;
}
.hr-bck a {
    text-decoration: none;
}
.account-div {
    width: 3vw;
    height: 5vh;
    background: url('../img/account.svg') no-repeat center/contain;
    cursor: pointer;
}
.info-user {
    width: auto;
    height: auto;
    margin-right: 1vw;
    font-family: 'Arial';
}
.info-user p {
    cursor: pointer;
}
.sw-text {
    flex-shrink: 1;
    cursor: pointer;    
    color: #FFFFFF;
    text-shadow: 0.1vw 0.1vh 0.3vw #000000;
    text-decoration: none;
    display: inline-block;
}
.sw-text::after {
    content: " •\00a0";
}
#last::after {
    content: "";
}
.search {
    width: 3vw;
    height: auto;
    cursor: pointer;
    z-index: 10;
}
#close-btn {
    width: 3vw;
    height: auto;
    top: 2vh;
    position: absolute;
    left: 5vw;
    cursor: pointer;
}
#search-input {
    padding: 2%;
    background-color: transparent;
    border: none;
    border-bottom: 0.5vh solid #cfcfcf;
    width: 50vw;
    height: 10vh;
    font-size: 2vw;
    z-index: 10;
    cursor: text;
    color: white;
}
#search-inpu::placeholder {
    color: #efefef;
}
#search-menu {
    display: none;
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1vh;
    animation: fade-in-out 0.7s ease-in-out 1 forwards;
}
#suggestions {
    width: 50vw;
    height: 30vh;
    top: 22vh;
    color: white;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'Arial';
}
#suggestions div {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 2vh;
    cursor: pointer;
    font-size: 2.5vw;
    flex-wrap: wrap;
}
#suggestions img {
    width: 4vw;
    height: auto;
    cursor: pointer;
    margin-right: 1vw;
}
.suggestions-container {
    display: flex;
    flex-direction: column;
    Justify-content: space-around;
    align-items: center;
    width: auto;
    height: 50vh;
}

#gif-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: black;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
#gif-container img {
    width: auto;
    height: 100%;
}
/* Barra de navegação superior */ 
/* Elementos de navegação */
.container {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    scroll-snap-align: start;
}
#section1 { 
    background-color: #000000;
}
#section2 { 
    background: url("../img/s2-back.jpg") no-repeat center/cover;
    z-index: 100;
    overflow-x: hidden;
}
#section3 { 
    background: url('../img/sw-movies.jpg') no-repeat center/cover;
}
#section4 {
    background: url("../img/sw-game.jpg") no-repeat center/cover;
}
.any-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.grid-section2-4 {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu left left1 main main1 main2'
    'footer footer1 footer2 footer3 footer4 footer5';
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    width: calc(100% - 80px); 
    height: calc(100% - 10px);
    z-index: 5;
    color: white;
    overflow: hidden;
    padding-top: 1vh;
}
.grid-section2-4 * {
    z-index: 5;
}
.container-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2vw;
    width: 15vw;
    height: 26.666666vh;
    padding: 0;
    box-shadow: inset 0 -5vh 5.5vw 2vh rgba(0, 0, 0, 1); 
    border: 0;
    background: no-repeat center/cover;
    cursor: pointer;
}
.header-grid { 
   grid-area: header;
}
.menu-grid { 
   grid-area: menu;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-color: #0E123A;
   width: 15vw;
   height: 26.666666vh;
   border-radius: 20px;
   font-size: 1.2vw;
}
#menu-grid {
    grid-area: menu;
    background-image: url('../img/survivor.jpeg');
}
.menu-grid p {
    text-decoration: none;
}
.left-grid {
    grid-area: left;
}
#left-grid {
    background-image: url('../img/anakin-grid.jpg');
}
#left-grid2 {
    background-image: url('../img/battlefront-ii.jpg');
}
.left1-grid {
    grid-area: left1;
}
#left1-grid {
    background-image: url('../img/luke-grid.jpeg');
}
#left1-grid2 {
    background-image: url('../img/eclipse.jpeg');
}
.main-grid {
    grid-area: main;
}
#main-grid {
    background-image: url('../img/din-grid.jpeg');
}
.main1-grid {
    grid-area: main1;
    background-image: url('../img/ahsoka-grid.jpeg');
}
.footer-grid { 
    grid-area: footer;
}
#footer-grid {
    background-image: url('../img/clone-grid.jpeg');
}
#footer-grid2 {
    background-image: url('../img/fallen-order.jpg');
}
.footer1-grid { 
    grid-area: footer1;
}
#footer1-grid {
    background-image: url('../img/byavin-grid.jpg');
}
#footer1-grid2 {
    background-image: url('../img/outlaws.jpg');
}
.footer2-grid {
    grid-area: footer2;
}
#footer2-grid {
    background-image: url('../img/rebeliao-grid.jpeg');
}
#footer2-grid2 {
    background-image: url('../img/old-republic-game.jpg');
}
.footer3-grid {
    grid-area: footer3;
}
#footer3-grid {
    background-image: url('../img/1order-grid.jpeg');
}
#footer3-grid2 {
    background-image: url('../img/survivor.jpeg');
}
.footer4-grid {
    grid-area: footer4;
    background-image: url('../img/oldr-grid.jpg');
}
.grid-title {
    font-size: 4vw;
}
.grid-section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'header header1 header2'
    'content content1 content2'
    'footer footer1 footer2';
    z-index: 5;
    grid-row-gap: 0.4vh;
    grid-column-gap: 0.3vw;
    position: absolute;
    left: 0.3vw;    
    bottom: 0.4vh;
    width: auto;
    height: auto;
}
#title-grid-section3 {
    width: 35vw;
    height: calc(100vh - 84vh);
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#title-grid2-section3 {
    width: 35.95vw;
    height: calc(100vh - 83.2vh);
    z-index: 5;
    position: absolute;
    right: 0.3vw;
    top: 0;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container-grid1 {
    width: 11.5625vw;
    height: 27.4074vh;
    border: 3px solid #15fff5;    
    background: no-repeat center/contain;
    cursor: pointer;
}
.grid1-header {
    grid-area: header;
    background-image: url('../img/swi.jpg');
}
.grid-header1 {
    grid-area: header1;
    background-image: url('../img/swii.jpg');
}
.grid-header2 {
    grid-area: header2;
    background-image: url('../img/swiii.jpg');
}
.grid-content {
    grid-area: content;
    background-image: url('../img/swiv.jpeg');
}
.grid-content1 {
    grid-area: content1;
    background-image: url('../img/swv.png');
}
.grid-content2 {
    grid-area: content2;
    background-image: url('../img/swvi.jpg');
}
.grid-footer {
    grid-area: footer;
    background-image: url('../img/swvii.jpg');
}
.grid-footer1 {
    grid-area: footer1;
    background-image: url('../img/swviii.jpg');
}
.grid-footer2 {
    grid-area: footer2;
    background-image: url('../img/swix.jpg');
}
.grid2-section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'content content1 content2'
    'footer footer1 footer2';
    z-index: 5;
    grid-row-gap: 0.3vh;
    grid-column-gap: 0.4vw;
    position: absolute;
    right: 0.3vw;
    bottom: 0.4vh;
    width: auto;
    height: auto;
}
.header-grid2 {
    grid-area: header;
    background: url('../img/tman2.jpeg') no-repeat center/cover;
    border: 3px solid #15fff5;
    width: 35.964vw;
    cursor: pointer;
}
.content-grid2 {
    grid-area: content;
    background-image: url('../img/clone-wars.jpg');
}
.content1-grid2 {
    grid-area: content1;
    background-image: url('../img/fett.jpg');
} 
.content2-grid2 {
    grid-area: content2;
    background-image: url('../img/andor.webp');
}
.footer-grid2 {
    grid-area: footer;
    background-image: url('../img/obi-wan-serie.jpg');
}
.footer1-grid2 {
    grid-area: footer1;
    background-image: url('../img/ahsoka-serie.jpeg');
}
.footer2-grid2 {
    grid-area: footer2;
    background-image: url('../img/bad-batch-serie.jpg');
} 
/* Elementos de navegação */
/* Elementos do menu rotativo */
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide img, .slide picture {
    max-width: 100%;
    min-height: 100%;
}
.slide {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
.pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3vh;    
    z-index: 5;
}
.dot {
    width: 5vw;
    height: 1.5vh;
    margin: 0 0.5vh;
    background-color: #bbb;
    border-radius: 1.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active {
    background-color: #333;
    animation: scale1 0.7s ease 1 forwards;
}
/* Elementos do menu rotativo */
/* Textos e títulos do menu rotativo */
.carousel-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;    
    align-items: flex-start;
    position: absolute;
    width: auto;
    height: auto;
    padding-left: 2vw;
}
.carousel-text {
    font-family: Arial;
    width: auto;
    height: auto;
    font-size: 1.8vw;
    color: white;
}
.carousel-title {
    display: flex;
    width: 35vw;
    height: auto;
    margin-bottom: 3vh;
    justify-content: flex-start;
    font-size: 3vw;
}
.carousel-title2 {
    color: #FFFD00;
} 
.carousel-title3 {
    color: #ABABAC;
}
.carousel-title4 {
    color: #5BBF51;
}

.carousel-title1 {
    color: #FF7A7A;
}
.carousel-title5 {
    color: #ffa96a;
}
/* Textos e títulos do menu rotativo */
/* Botões "Leia mais" */
.read-more {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0.3vh 1.5vw 0.3vh 1.5vw;
    border: 3px solid white;
    border-radius: 3vh;
    cursor: pointer;
    font-size: 2.5vw;
    font-family: Arial;
}
.read-more.slide1 {
    color: white;
    margin-top: 3vh;
}
/* Botões "Leia mais" */
/* Fontes */
@font-face {
       font-family: 'StarJediLogoDoubleline1';
       src: url('fonts/stjldbl1-webfont.woff2') format('woff2'),
         url('fonts/stjldbl1-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'StarJediLogoDoubleline2';
       src: url('fonts/stjldbl2-webfont.woff2') format('woff2'),
         url('fonts/stjldbl2-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'StarJediLogoMonoline';
       src: url('fonts/strjmono-webfont.woff2') format('woff2' ),
         url('fonts/strjmono-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'StarJediSpecialEdition';
       src: url('fonts/stjedise-webfont.woff2') format('woff2'),
         url('fonts/stjedise-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}

@font-face {
       font-family: 'StarJediOutline';
       src: url('fonts/starjout-webfont.woff2') format('woff2'),
         url('fonts/starjout-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'StarJediRegular';
       src: url('fonts/starjedi-webfont.woff2') format('woff2'),
         url('fonts/starjedi-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'StarJediHollow';
       src: url('fonts/starjhol-webfont.woff2') format('woff2'),
         url('fonts/starjhol-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
} 
.font1 {
       font-family: 'StarJediLogoDoubleline1', sans-serif;
}
.font2 {
       font-family: 'StarJediLogoDoubleline2', sans-serif;
}
.font3 {
       font-family: 'StarJediLogoMonoline', sans-serif;
}
.font4 {
       font-family: 'StarJediSpecialEdition', sans-serif;
}
.font5 {
       font-family: 'StarJediOutline', sans-serif;
}
.font6 {
       font-family: 'StarJediRegular', sans-serif;
}
.font7 {
       font-family: 'StarJediHollow', sans-serif;
} 
/* Fontes */
/* Elementos de responsividade */
@media(max-width: 767px){
* {
    box-sizing: border-box;
}
body {
    display: flex;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    background-color: #0c0c0c;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.container {
    min-height: 100vh;
}
#section2, #section3 {
    z-index: 0;
    background: url('');
}
#section4, .container-logo, .hr-bck, .carousel-container, .grid2-section3, #title-grid2-section3 {
    display: none;
}
.container-logo-phone {
    width: 100%;
    height: 5vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-bottom: 0.5vh solid #fcfcfc;
    z-index: 40;
    background-color: #171717;
}
.div-container-logo {
    width: calc((100%)*0.3);
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.div-container-logo1 {
    width: calc((100%)*0.4);
    height: 100%;
    background: url('../img/swlogoc.png') no-repeat center/contain;
    cursor: pointer;
}
.search, .menu-ham {
    width: 6vw;
    z-index: 10;
    cursor: pointer;
}
#close-btn {
    width: 5vw;
}
.display-none {
    display: flex;
}
#search-menu {
    z-index: 100;
}
#search-input {
    height: 4vh;
    width: 60vw;
}
.suggestions-container {
    height: 30vh;
}
.slider {
    height: 75vh;
    width: auto;
    position: absolute;
    top: 2vh;
}
.slide {
    max-height: 30vh;
    min-width: 100%;
}
.pagination {
    bottom: 1vh;
}
.btn-slider {
    width: 6vw;
    height: 3vh;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    top: 48vh;
    cursor: pointer;
}
#btn-slider1 {
    left: 3vw;
    background: url("../img/left-arrow.svg") no-repeat center/contain;
}
#btn-slider2 {
    right: 3vw;
    background: url("../img/right-arrow.svg") no-repeat center/contain;
}
.carousel-container-mobile {
    width: 70%;
    height: auto;
    margin-left: 14.5vw;
    position: absolute;
    top: 53.5%;
    flex-flow: column wrap;
}
.carousel-text {
    padding: 1vh;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-title {
    width: 100%;
    justify-content: center;
    font-size: 3vh;
    margin-bottom: 0;
}
.btn-read-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more.slide1 {
    font-size: 2vh;
    margin-top: 0;
    border: 1.5px solid white;
}
.grid-section2-4 {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    'header header'
    'menu left'
    'left1 main'
    'main1 footer'
    'footer1 footer2'
    'footer3 footer4';
    padding: 1vh;
    padding-right: 1vh;
}
.grid-section3 {
    width: 100%;
    height: auto;
    padding: 1vh;
    column-gap: 0.5%;
}
#title-grid-section3 {
    width: 100%;
    font-size: 3.5vh;
}
.menu-grid, .container-grid {
    font-size: 1.6vh;
    width: 45vw;
    height: 18vh;
}
.container-grid1 {
    width: 31vw;
    border: none;
}
.account-div {
    width: 7vw;
    height: 3vh;
    background: url('../img/account.svg') no-repeat center/contain;
}
.info-user {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.grid-div-content {
    width: 95vw;
    height: 40vh;
    position: absolute;
    top: 5vh;
}
.main-text-html {
    width: 95vw;
    height: 40vh;
    position: absolute;
    top: 50vh;
}
.text-html {
    justify-content: space-around;
}
.grid-div-content p, .grid-div-content span, .grid-div-content li, .reference-html-pages p, .reference-html-pages span {
    font-size: 1vh;
}
.text-html p {
    font-size: 2vh;
}
}
/* Elementos de responsividade */  
